@import '../../../../variables';

.gameround-card-container {
  display: block;
  margin: auto;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
  margin-bottom: 1.5em;
}

.mat-table-dialog {
  max-width: 600px;
  margin: auto;
}

.mat-column-Multiplier {
  display: none;
}

.mat-header-cell,
.mat-cell {
  text-overflow: ellipsis;
  white-space: unset;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
}

@include tablet {
  .mat-column-Multiplier {
    display: table-cell;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 4);
    width: calc(100% / 4);
  }
}
