<mat-toolbar class="header-toolbar">
  <span class="left-nav-item-container">
    <a routerLink="/">
      <button mat-mini-fab aria-label="Home button" color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    &nbsp;&nbsp;
    <button mat-raised-button routerLink="/" class="logo-btn">TUKSBET</button>
  </span>
  <span class="example-spacer"></span>
  <span class="center-nav-item-container">
    <app-wallet-component></app-wallet-component>
  </span>
  <span class="example-spacer"></span>
  <span class="right-nav-item-container">
    <a *ngIf="!isLoggedIn" routerLink="/login">
      <button mat-raised-button color="primary">Login</button>
    </a>
    <a *ngIf="isLoggedIn" routerLink="/profile" class="profile-btn">
      <button mat-raised-button color="primary">Mi Perfil</button>
    </a>
    <a *ngIf="isLoggedIn" routerLink="/logout">
      <button mat-raised-button color="accent">Logout</button>
    </a>
  </span>
</mat-toolbar>
