<mat-toolbar class="header-toolbar mat-app-background" [ngClass]="{ 'dark-theme-mode': isDarkTheme }">
  <span class="left-nav-item-container">
    <a routerLink="/">
      <button mat-mini-fab aria-label="Home button" color="primary">
        <mat-icon>home</mat-icon>
      </button>
    </a>
    &nbsp;&nbsp;
    <button mat-raised-button routerLink="/">TUKSBET</button>
  </span>
  <span class="mode-slider" style="display: 'flex'">
    <mat-icon class="day-icon">light_mode</mat-icon>
    <mat-slide-toggle [(ngModel)]="isDarkTheme" (change)="updateCurrentTheme()">
      <mat-icon>mode_night</mat-icon>
    </mat-slide-toggle></span
  >
  <button mat-mini-fab aria-label="Mode button" (click)="setMode()">
    <div *ngIf="isDarkTheme; then thenBlock; else elseBlock"></div>
    <ng-template #thenBlock><mat-icon>mode_night</mat-icon></ng-template>
    <ng-template #elseBlock><mat-icon>light_mode</mat-icon></ng-template>
  </button>
  <span class="example-spacer"></span>
  <span class="center-nav-item-container">
    <app-wallet-component></app-wallet-component>
  </span>
  <span class="example-spacer"></span>
  <span class="right-nav-item-container">
    <a *ngIf="!isLoggedIn" routerLink="/login">
      <button mat-raised-button color="primary">Login</button>
    </a>
    <a *ngIf="isLoggedIn" routerLink="/profile" class="profile-btn">
      <button mat-raised-button color="primary">Mi Perfil</button>
    </a>
    <a *ngIf="isLoggedIn" routerLink="/logout">
      <button mat-raised-button color="accent">Logout</button>
    </a>
  </span>
</mat-toolbar>
