nav {
  display: flex;
  justify-content: space-around;
  background: rgb(119, 119, 119);
  height: 30px;
  align-items: center;

  .nav-item {
    width: calc(100% / 3);
    > button {
      margin: 0 auto;
      display: block;
    }
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(129, 0, 0);

  &:visited {
    color: rgb(134, 24, 24);
  }
}
