@import '../variables';

.main-content {
  overflow-y: auto;
  overflow-x: visible;
  margin-left: 25px;
  margin-right: 25px;
  display: flex;
  flex-direction: column;
}

.page-footer {
  margin-top: auto;
}

.chat-sidebar {
  min-height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
}

.chat-sidebar {
  min-height: calc(100vh - $header-height);
  max-height: calc(100vh - $header-height);
}
