@import '../variables';

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
  box-sizing: border-box;
}

.page-footer {
  margin-top: auto;
}

.div-scrollable {
  margin-left: 25px;
  margin-right: 25px;
}

@media screen and (max-width: 599px) {
  .main-sidenav-container {
    width: 100%;
    height: calc(100vh - 56px);
    z-index: 100;
  }
}

@media screen and (min-width: 600px) {
  .main-sidenav-container {
    width: 100%;
    height: calc(100vh - 64px);
  }
}

.sidenav-container {
  width: $sidebar-width;
}
