<span class="mat-app-background" [ngClass]="{ 'dark-theme-mode': isDarkTheme }">
  <app-header></app-header>
  <mat-sidenav-container class="main-sidenav-container" (backdropClick)="chatToggle()">
    <mat-sidenav
      class="sidenav-container"
      [mode]="mode"
      [opened]="isChatOpen"
      [fixedInViewport]="true"
      [fixedTopGap]="layoutGap"
    >
      <app-chat-sidenav-tab-group></app-chat-sidenav-tab-group>
    </mat-sidenav>

    <div class="main-content">
      <button mat-icon-button (click)="chatToggle()">
        <mat-icon>chat_bubble_outline</mat-icon>
      </button>
      <div class="div-scrollable"><router-outlet></router-outlet></div>
      <div class="page-footer">
        <app-footer></app-footer>
      </div>
    </div>
  </mat-sidenav-container>
</span>
