@import '../../../variables';

.mat-column-Email {
  display: none;
}

.mat-column-Username,
.mat-column-Email,
.mat-column-Actions {
  text-overflow: ellipsis;
  white-space: unset;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
}

@include tablet {
  .mat-column-Email {
    display: table-cell;
  }
}
