<div class="footer-container mat-elevation-z8">
  <div class="left-side">
    <h2>Juegos</h2>
    <ng-container *ngFor="let game of games">
      <a mat-button routerLink="/{{ game.gameName!.toLowerCase() }}" class="game-link">{{ game.gameName }}</a>
    </ng-container>
  </div>
  <div class="center-side">
    <h2>Síguenos</h2>
    <p><mat-icon svgIcon="facebook"></mat-icon>&nbsp;&nbsp;Facebook</p>
    <p><mat-icon svgIcon="twitter"></mat-icon>&nbsp;&nbsp;Twitter</p>
    <p><mat-icon svgIcon="insta"></mat-icon>&nbsp;&nbsp;Instagram</p>
  </div>
  <div class="right-side">
    <h2>Únete</h2>
    <p><mat-icon svgIcon="discord"></mat-icon>&nbsp;&nbsp;Discord</p>
    <p><mat-icon svgIcon="youtube"></mat-icon>&nbsp;&nbsp;Youtube</p>
  </div>
</div>
