<div class="footer-container grid mat-elevation-z8">
  <div class="col-4">
    <div class="row head">
      <p>Juegos</p>
    </div>
    <div class="row media">
      <ul>
        <li *ngFor="let game of games" class="game">
          <a routerLink="/{{ game.gameName!.toLowerCase() }}">{{ game.gameName }}</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <div class="row head">
      <p>Síguenos</p>
    </div>
    <div class="row media">
      <ul>
        <li>
          <mat-icon svgIcon="facebook"></mat-icon>
          <p>&nbsp;Facebook</p>
        </li>
        <li>
          <mat-icon svgIcon="twitter"></mat-icon>
          <p>&nbsp;Twitter</p>
        </li>
        <li>
          <mat-icon svgIcon="insta"></mat-icon>
          <p>&nbsp;Instagram</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="col-4">
    <div class="row head">
      <p>Únete</p>
    </div>
    <div class="row media">
      <ul>
        <li>
          <mat-icon svgIcon="discord"></mat-icon>
          <p>Discord</p>
        </li>
        <li>
          <mat-icon svgIcon="youtube"></mat-icon>
          <p>Youtube</p>
        </li>
      </ul>
    </div>
  </div>
</div>
