<div class="footer-container grid">
        <div class="col-4">
            <div class="row head">
                <p>Juegos</p>
            </div>
            <div class="row" *ngFor="let game of games">
                <a routerLink="/{{game.gameName!.toLowerCase()}}">{{ game.gameName }}</a>
            </div>
    </div>
        <div class="col-4">
            <div class="row head">
                <p>Síguenos</p>
            </div>
            <div class="row media">
                <div>
                    <img src="../../../assets/imgs/facebook.png">
                </div>
                <div>
                    <p>Facebook</p>
                </div>
            </div>
            <div class="row media">
                <div>
                    <img src="../../../assets/imgs/twitter.png">
                </div>
                <div>
                    <p>Twitter</p>
                </div>
            </div>
            <div class="row media">
                <div>
                    <img src="../../../assets/imgs/instagram.png">
                </div>
                <div>
                    <p>Instagram</p>
                </div>
            </div>
    </div>
        <div class="col-4">
            <div class="row head">
                <p>Únete</p>
            </div>
            <div class="row media">
                <div>
                    <img src="../../../assets/imgs/discord.png">
                </div>
                <div>
                    <p>Discord</p>
                </div>
            </div>
            <div class="row media">
                <div>
                    <img src="../../../assets/imgs/youtube.png">
                </div>
                <div>
                    <p>Youtube</p>
                </div>
            </div>
    </div>
</div>
