<mat-button-toggle-group [(ngModel)]="currentPage" name="favoriteColor" aria-label="Sección de cartera">
  <mat-button-toggle routerLink="/deposit" value="deposit">Depositar</mat-button-toggle>
  <mat-button-toggle routerLink="/withdraw" value="withdraw">Retirar</mat-button-toggle>
  <mat-button-toggle routerLink="/transactions" value="transactions">Transacciones</mat-button-toggle>
</mat-button-toggle-group>
<!--
<table class="transactions-container">
  <thead>
    <tr>
      <th>TRANSACCIÓN</th>
      <th>USUARIO</th>
      <th>FECHA</th>
      <th>MONTO</th>
      <th>TIPO</th>
      <th>ESTADO</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaction of transactions">
      <td>
        <a routerLink="/transactions/{{ transaction._id }}">{{ transaction._id }}</a>
      </td>
      <td>
        <a routerLink="/users/{{ transaction.userId }}">{{ transaction.username }}</a>
      </td>
      <td>{{ transaction.transactionDate | date: 'short' }}</td>
      <td>${{ transaction.amount | number: '1.2-2' }}</td>
      <td>{{ transaction.isDeposit ? 'Depósito' : 'Retiro' }}</td>
      <td>
        {{
          transaction.status === 'completed' ? 'Completado' : transaction.status === 'pending' ? 'Pendiente' : 'Cancelado'
        }}
      </td>
    </tr>
  </tbody>
</table> -->

<table mat-table [dataSource]="transactions" class="mat-elevation-z8 material-table">
  <ng-container matColumnDef="TransactionId">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let transaction">
      <a mat-button routerLink="/transactions/{{ transaction._id }}">{{ transaction._id }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="Username">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>USUARIO</th>
    <td mat-cell *matCellDef="let transaction">
      <a mat-button routerLink="/users/{{ transaction.userId }}">{{ transaction.username }}</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="TransactionDate">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>FECHA</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.transactionDate | date: 'short' }}</td>
  </ng-container>

  <ng-container matColumnDef="TransactionAmount">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>MONTO</th>
    <td mat-cell *matCellDef="let transaction">${{ transaction.amount | number: '1.2-2' }}</td>
  </ng-container>

  <ng-container matColumnDef="IsDeposit">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>TIPO</th>
    <td mat-cell *matCellDef="let transaction">{{ transaction.isDeposit ? 'Depósito' : 'Retiro' }}</td>
  </ng-container>

  <ng-container matColumnDef="TransactionStatus">
    <th class="table-header-column" mat-header-cell *matHeaderCellDef>ESTADO</th>
    <td mat-cell *matCellDef="let transaction">
      {{ transaction.status === 'completed' ? 'Completado' : transaction.status === 'pending' ? 'Pendiente' : 'Cancelado' }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
</table>
