@import '../../../variables';

.mat-table {
  margin-top: 1em;
}

.mat-column-Username {
  .mat-button {
    text-overflow: ellipsis;
    width: 100%;
    max-width: calc(100% - 2px);
    overflow: hidden;
    white-space: nowrap;
  }
}

.mat-column-TransactionId,
.mat-column-TransactionStatus,
.mat-column-TransactionDate,
.mat-column-Username {
  display: none;
}

.mat-header-cell,
.mat-cell {
  text-overflow: ellipsis;
  white-space: unset;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
}

.mat-cell,
.mat-header-cell {
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: calc(100% - 2px);
    overflow: hidden;
    white-space: nowrap;
  }
}

@include tablet {
  .mat-column-TransactionDate,
  .mat-column-Username {
    display: table-cell;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 5);
    width: calc(100% / 5);
  }

  .mat-column-Username {
    .mat-button {
      max-width: unset;
    }
  }
}

@include desktop {
  .mat-column-TransactionId,
  .mat-column-TransactionStatus {
    display: table-cell;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 7);
    width: calc(100% / 7);
  }
}
