@import '../../../variables';

.profile-card-container {
  display: block;
  margin: auto;
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
  box-sizing: border-box;
}

img {
  height: 250px;
  width: 250px;
  border-radius: 50%;
}
