@import '../../../../variables';

.mat-elevation-z8 {
  margin-top: 1em;
}

.mat-button {
  text-overflow: ellipsis;
  width: 100%;
  max-width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.mat-column-GameName,
.mat-column-BetDate,
.mat-column-BetId,
.mat-column-BetAmount,
.mat-column-BetMultiplier {
  display: none;
}

.mat-header-cell,
.mat-cell {
  text-overflow: ellipsis;
  white-space: unset;
  flex: 0 0 calc(100% / 3);
  width: calc(100% / 3);
}

@include tablet {
  .mat-column-BetMultiplier,
  .mat-column-GameName {
    display: table-cell;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 5);
    width: calc(100% / 5);
  }
}

@include laptop {
  .mat-column-BetAmount,
  .mat-column-BetDate {
    display: table-cell;
  }

  .mat-button {
    max-width: unset;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 7);
    width: calc(100% / 7);
  }
}

@include desktop {
  .mat-column-BetId {
    display: table-cell;
  }

  .mat-header-cell,
  .mat-cell {
    flex: 0 0 calc(100% / 8);
    width: calc(100% / 8);
  }
}
