<div class="chatbox__support" *ngIf="showChatbox">
  <div class="chatbox__header" color="primary">
    <div class="chatbox__image--header">
      <img src="../../../../assets/imgs/bot.png" alt="" />
    </div>
    <div class="chatbox__content--header">
      <h3 class="chatbox__heading--header">TuksBot</h3>
      <p class="chatbox__description--header">Pregunta tus dudas, TuksBot está para servirte</p>
    </div>
    <div class="chatbox__content--header">
      <button (click)="closeChatbox()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  <div class="messages">
    <div>
      <div class="messages__item--visitor">Hi!</div>
      <div class="messages__item--operator">What is it?</div>
      .
      <div class="messages__item--typing">
        <span class="messages__dot"></span>
        <span class="messages__dot"></span>
        <span class="messages__dot"></span>
      </div>
    </div>
  </div>
  <div class="chatbox__footer">
    <mat-form-field appearance="fill">
      <mat-label>Escribe tus preguntas</mat-label>
      <input matInput type="text" />
    </mat-form-field>
    <button>
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>
