.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    margin: 0px;
  }
  button {
    background-color: #4c4c9d;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 7px;
    margin: 10px 0px;
  }
  label {
    text-align: left;
    font-size: medium;
    }
}
