.amount-input {
  width: 100%;
  max-width: 438px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
}

.amount-field {
  width: 100%;
}

.amount-buttons {
  width: auto;
  max-width: 438px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  button {
    width: 80px;
    height: 40px;
    margin: 0.1em 0.2em;
  }
}
