<!-- <table class="game-showcase-container">
    <tbody>
        <tr>
            <td *ngFor="let game of games" id="{{game.gameName!.toLowerCase()}}">
                <a routerLink="/{{game.gameName!.toLowerCase()}}">{{ game.gameName }}</a>
            </td>
        </tr>
    </tbody>
</table> -->

<div *ngIf="games.length > 0" class="games-container">
  <div
    *ngFor="let game of games"
    routerLink="/{{ game.gameName!.toLowerCase() }}"
    [style.background-image]="'url(' + game.gameImage + ')'"
    class="game-card mat-elevation-z8"
  ></div>
</div>
