@import '../../../../variables';

.games-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.game-card {
  width: 400px;
  height: calc(9 * 400px / 16);
  margin: 1em;
  background-size: cover;
  background-position: center;
  border-radius: 6px;
}

.game-card:hover {
  cursor: pointer;
  transform: rotate(1deg);
}

@include tablet {
  .game-card {
    width: 450px;
    height: calc(9 * 450px / 16);
  }
}

@include desktop {
  .game-card {
    width: 535px;
    height: calc(9 * 535px / 16);
  }

  .games-container {
    max-width: 1400px;
    margin: auto;
  }
}
