<div [@chatToggle]="isChatOpen ? 'opened' : 'closed'" class="chat-sidebar-container">
  <div class="chat-messages-container" (scroll)="scrollAdjustment($event)">
    <ul class="messages-list">
      <li *ngFor="let message of chatMessages">
        <button class="delete-msg-button" (click)="deleteMessage($event, message._id!)">
          <strong> ❌ </strong>
        </button>
        <span
          ><a routerLink="/users/{{ message.userId }}"> {{ message.username }}: </a></span
        >
        <span>
          {{ message.message }}
        </span>
      </li>
    </ul>
  </div>
  <div class="chat-sidebar-footer">
    <input
      type="text"
      name="message"
      [placeholder]="isLoggedIn ? 'Introduce un mensaje...' : 'Inicia sesión para chatear...'"
      [(ngModel)]="currentMessage"
      (keydown.enter)="sendMessage($event)"
      [disabled]="!isLoggedIn"
    />
  </div>
  <button class="toggle-chat-button" (click)="toggleChatSidebar($event)">
    <strong>
      {{ isChatOpen ? '⬅' : '➡' }}
    </strong>
  </button>
</div>
