h1 {
  text-align: center;
}

.content-container {
  margin: auto;
  width: fit-content;
}

form,
#paypalButtons {
  width: 100%;
}

.mat-card {
  max-width: 800px;
  margin: 2em auto;
  text-align: center;
}
