<div class="betting-slot-container">
  <div>
    <div class="amount-input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Monto</mat-label>
        <span matPrefix>$USD &nbsp; &nbsp;</span>
        <input
          type="text"
          name="betAmount"
          [(ngModel)]="betToCrashAt"
          matInput
          placeholder="Has una apuesta..."
          (blur)="onBlur($event)"
        />
      </mat-form-field>
    </div>
    <button *ngIf="!currentBetId" (click)="onClickBet($event)" class="crash-betting-btn">Apostar ahora</button>
    <button *ngIf="currentBetId" (click)="onClickExitCrash($event)" class="crash-betting-btn">Salirse!</button>
  </div>
  <div class="current-bets-container">
    <div class="bet-entry" *ngFor="let bet of currentBets">
      <div class="bet-entry-user">{{ bet.username }}</div>
      <div class="bet-entry-amount">
        <p>${{ bet.betAmount | number: '1.2-2' }}</p>
      </div>
    </div>
  </div>
</div>
