<div class="betting-slot-container">
  <div>
    <div class="amount-input">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Multiplicador</mat-label>
        <span matPrefix>MULT &nbsp; &nbsp;</span>
        <input
          type="text"
          name="betAmount"
          [(ngModel)]="betToCrashAt"
          matInput
          placeholder="Multiplicador..."
          (blur)="onBlur($event)"
        />
        <span matSuffix>x &nbsp; &nbsp;</span>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" *ngIf="!currentBetId" (click)="onClickBet($event)" class="crash-betting-btn">
      Apostar ahora
    </button>
    <button
      mat-raised-button
      color="primary"
      *ngIf="currentBetId"
      (click)="onClickExitCrash($event)"
      class="crash-betting-btn"
    >
      Salirse!
    </button>
  </div>
</div>
<div class="current-bets-container mat-elevation-z8">
  <mat-list>
    <ng-container *ngFor="let bet of testBets">
      <mat-list-item class="bet-entry">
        <span>
          <a mat-button routerLink="/users/{{ bet.userId }}"> {{ bet.username }}aaaa </a>
        </span>
        <span class="example-spacer"></span>
        <span class="bet-amount-span"> ${{ bet.betAmount | number: '1.2-2' }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
