/*@import '../../../variables';

.user-container {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
  background-color: rgb(241, 240, 240);

  img {
    width: 50px;
    height: 50px;
  }

  .card {
    background-color: rgb(187, 183, 183);

    .details {
      p {
        background-color: rgb(136, 136, 136);
      }
    }
  }
}*/

img {
  height: 15em;
  width: 15em;
  border-radius: 50%;
}

p {
  font-size: large;
}

.mat-card {
  margin: 2.5em 0px;
}

.user-details-card-container {
  display: block;
  margin: auto;
  max-width: 600px;
  margin: 2em auto;
  text-align: center;
}
