.mat-column-GameRoundResult,
.mat-column-GameRoundDate,
.mat-column-GameRoundAcceptingBets,
.mat-column-GameRoundResult {
  width: 25%;
}

.mat-table-dialog {
  width: 70vw;
}

h2 {
  text-align: center;
}
