// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// $indigo-palette: ( <<<<<<<<<< cutom theme
//   50: #e8eaf6,
//   100: #c5cae9,
//   200: #9fa8da,
//   300: #7986cb,
//   // ... continues to 900
//   contrast:
//     (
//       50: rgba(black, 0.87),
//       100: rgba(black, 0.87),
//       200: rgba(black, 0.87),
//       300: white,
//       // ... continues to 900
//     ),
// );

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$tuksbet-front-primary: mat.define-palette(mat.$indigo-palette);
$tuksbet-front-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$tuksbet-front-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$tuksbet-front-theme: mat.define-light-theme(
  (
    color: (
      primary: $tuksbet-front-primary,
      accent: $tuksbet-front-accent,
      warn: $tuksbet-front-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($tuksbet-front-theme);

/* You can add global styles to this file, and also import other style files */
@import './variables';

@mixin column-width($column-span) {
  width: calc(100% / (12 / #{$column-span}));
}

@mixin column-define($device-size) {
  > .col#{$device-size}-1 {
    @include column-width(1);
  }

  > .col#{$device-size}-2 {
    @include column-width(2);
  }

  > .col#{$device-size}-3 {
    @include column-width(3);
  }

  > .col#{$device-size}-4 {
    @include column-width(4);
  }

  > .col#{$device-size}-6 {
    @include column-width(6);
  }

  > .col#{$device-size}-8 {
    @include column-width(8);
  }

  > .col#{$device-size}-12 {
    @include column-width(12);
  }
}

.grid::after {
  content: '';
  display: table;
  clear: both;
}

.grid {
  > div {
    float: left;
  }

  @include column-define('');

  @include tablet() {
    @include column-define('-sm');
  }

  @include laptop() {
    @include column-define('-md');
  }

  @include desktop() {
    @include column-define('-lg');
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.material-table {
  width: 100%;
  text-align: center;
  & .table-header-column {
    text-align: center;
  }
}

.sidenav-container {
  width: $sidebar-width;
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .chat-list-entry > div {
    display: block !important;
    height: auto !important;
    margin: 0.75em 0;
  }

  .chat-list-entry {
    display: block !important;
    height: auto !important;
    width: 100%;
  }

  .mat-list {
    width: 100%;
  }
}

.mat-tab-body-wrapper {
  height: 100%;
}

.mat-tab-label,
.mat-tab-label-active {
  min-width: 0 !important;
  width: 100%;
  padding: 3px !important;
  margin: 3px !important;
}
