<mat-card class="bet-card-container">
  <mat-card-title>
    <h1>Información de apuesta: {{ betId }}</h1>
  </mat-card-title>
  <mat-card-content *ngIf="bet">
    <p><strong>Juego: </strong>{{ bet!.gameRoundId }}</p>
    <p><strong>Fecha: </strong>{{ bet!.betDate | date: 'short' }}</p>
    <p><strong>Apuesta: </strong>{{ bet!.betStake }}</p>
    <p><strong>Monto de la apuesta: </strong>${{ bet!.betAmount }}</p>
    <p><strong>Ganancia: </strong>${{ bet!.betPayout }}</p>
  </mat-card-content>
  <mat-card-content *ngIf="!bet"> <mat-spinner></mat-spinner> </mat-card-content>
</mat-card>
