input,
button {
  display: block;
  margin: 0 auto;
}

.form-field-container {
  margin: auto;
  width: 80%;

  label,
  input {
    margin: 10px auto;
    text-align: center;
    margin: auto;
    width: 180px;
  }
}

.mat-simple-snackbar {
  justify-content: center !important;
}

button {
  margin: 10px auto;
}

h1 {
  text-align: center;
}

.mat-card {
  margin: 10px 0px;
}

input[type='file'] {
  display: none;
}

.custom-file-upload {
  display: inline-block;
  width: 130px !important;
  padding: 5px 2px;
  margin-top: 0.5em !important;
  background-color: #3f51b5;
  color: white;
  border-radius: 3px;
  font-weight: 500;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}
