<mat-card>
  <mat-card-title>
    <h1>Cambiar contraseña</h1>
  </mat-card-title>
  <mat-card-content>
    <form (submit)="updatePassword()" [formGroup]="updatePasswordForm">
      <mat-error *ngIf="updatePasswordError.length > 0">
        {{ updatePasswordError }}
      </mat-error>

      <div class="form-field-container">
        <mat-form-field>
          <mat-label>Contraseña actual</mat-label>
          <input
            matInput
            [type]="hideActualPassword ? 'password' : 'text'"
            formControlName="actualPassword"
            placeholder="Contraseña actual"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideActualPassword = !hideActualPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideActualPassword"
          >
            <mat-icon>{{ hideActualPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <div class="form-field-container">
        <mat-form-field>
          <mat-label>Nueva contraseña</mat-label>
          <input
            matInput
            [type]="hideNewPassword ? 'password' : 'text'"
            formControlName="newPassword"
            placeholder="Nueva contraseña"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideNewPassword = !hideNewPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideNewPassword"
          >
            <mat-icon>{{ hideNewPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="updatePasswordForm.get('newPassword')!.hasError('pattern')">
            Mínimo 9 caracteres, mayúscula, minúscula, número y caracter especial
          </mat-error>
          <mat-error *ngIf="updatePasswordForm.get('newPassword')!.hasError('required')">
            La contraseña es <strong>necesaria</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-field-container">
        <mat-form-field>
          <mat-label>Confirmar contraseña</mat-label>
          <input
            matInput
            [type]="hideConfirmPassword ? 'password' : 'text'"
            formControlName="newPasswordConfirm"
            placeholder="Confirmar contraseña"
            (input)="onPasswordInput()"
            required
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hideConfirmPassword = !hideConfirmPassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideConfirmPassword"
          >
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
          <mat-error *ngIf="updatePasswordForm.get('newPasswordConfirm')!.hasError('required')">
            Por favor, confirma la contraseña
          </mat-error>
          <mat-error *ngIf="updatePasswordForm.get('newPasswordConfirm')!.hasError('passwordMismatch')">
            Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" type="submit">Cambiar contraseña</button>
    </form>
  </mat-card-content>
</mat-card>
