<button
  (click)="onClickBet($event)"
  class="{{ bettingColor === 'red' ? 'red-btn' : bettingColor === 'green' ? 'green-btn' : 'black-btn' }} betting-btn"
>
  {{ bettingColor === 'red' ? '1 a 7' : bettingColor === 'green' ? '0' : '8 a 14' }}
</button>
<div class="current-bets-container mat-elevation-z8">
  <mat-list>
    <ng-container *ngFor="let bet of currentBets">
      <mat-list-item class="bet-entry">
        <span>
          <a mat-button routerLink="/users/{{ bet.userId }}"> {{ bet.username }}aaaa </a>
        </span>
        <span class="example-spacer"></span>
        <span class="bet-amount-span"> ${{ bet.betAmount | number: '1.2-2' }}</span>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</div>
